<div id="user-page-div">
    <button class="user-page-btn" [routerLink]="['', {outlets: {user : 'feed'}}]">
        <img class="user-page-icon" src="../../../assets/images/feed.png">
    </button>
    <button class="user-page-btn" [routerLink]="['', {outlets: {user : 'addpost'}}]"><img class="user-page-icon" src="../../../assets/images/add.png"></button>
    <button class="user-page-btn" [routerLink]="['', {outlets: {user : 'profile'}}]"><img class="user-page-icon" src="../../../assets/images/profile.png"></button>
</div>
